body {
  margin: 0;
  padding: 80px 250px;
  background-color: #4aacb1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#det {
  font-size: 1.5rem;
  background-color: aqua;
  padding: 10px 100px;
  margin: 15px 326px;
}

